#footer-nav{
    background: rgb(28,54,67);
    background: linear-gradient(90deg, rgba(28,54,67,1) 0%, rgba(30,83,113,1) 100%);
}
#footer-nav > .nav > .nav-item > .nav-link{
    border-radius: 8px;
}
#footer-nav > .nav > .nav-item > .nav-link:hover{
    background-color: var(--background-navlink);
}