/* --------------------------  HEADER -------------------------- */
@media (min-height:1000px) and (max-width:1920px){
    .banner-text{
        bottom: 500px;
    }
}
@media screen and (max-width:1350px){
    .banner-text{
        position: absolute;
        left: 50vw;
        bottom: 280px;
        right: 10vw;
        color: white;
        text-align: right;
    }
}
@media (min-height:1000px) and (max-width:1350px){
    .banner-text{
        bottom: 500px;
    }
}
@media screen and (max-width:1024px){
    #navbarHeader > .container-fluid > .navbar-brand{
        margin-left: 1rem;
    }
}
@media (min-height:1000px) and (max-width:1050px){
    .banner-text{
        bottom: 500px;
    }
    .banner-text #bannerMainText{
        font-size: 18px!important;
    }
}
@media (min-height:600px) and (max-height:700px) and (max-width:1050px){
    .banner-text{
        bottom: 0px;
    }
}
@media (height:1368px) and (width:912px){
    .banner-text{
        bottom: 700px;
    }
@media screen and (max-width:900px){
    .banner-text{
        bottom: 150px;
    }
    .banner-text #bannerMainText{
        font-size: 16px!important;
    }
}
}
@media (min-height:1000px) and (max-width:900px){
    .banner-text{
        bottom: 400px;
    }
}
@media (min-height:1000px) and (max-width:850px){
    .banner-text{
        bottom: 500px;
    }
}
@media (min-height:1000px) and (max-width:800px){
    .banner-text{
        bottom: 0px!important;
    }
}
@media (min-height:1000px) and (max-width:768px){
    .banner-text{
        bottom: 500px!important;
    }
}
@media screen and (max-width:768px){
    .banner-text{
        bottom: 0;
        top: 250px;
        left: 40vw;
    }
}
@media screen and (max-width:700px){
    .banner-text #bannerMainText{
        font-size: 15px!important;
    }
    #btn-Orador{
        margin-bottom: 5px;
    }
}
@media (height:720px) and (width:540px){
    .banner-text{
        bottom: 0px!important;
        top: 200px;
    }
}
@media screen and (max-width:500px){    
    .banner-text{
        bottom: 90px;
        left: 40vw;
    }
    .banner-text #bannerMainText{
        font-size: 14px!important;
    }
}
@media screen and (max-width:768px){
    .banner-text{
        bottom: 120px;
    }
}
@media (min-height:890px) and (max-width:500px){    
    .banner-text{
        bottom: 150px;
    }
}
@media screen and (max-width:425px){
    #navbarHeader > .container-fluid > .navbar-brand{
        margin-left: 0px;
        margin-right: 0px;
    }
    .banner-text{
        text-align: right;
        font-size: smaller;
    }
    #bannerMainText{
        font-size: small!important;
    }
}
@media screen and (max-width:400px){
    .banner-text{
        left: 35vw;
    }
}
@media screen and (max-width:375px){
    .banner-text{
        left: 32vw;
    }
}
@media screen and (max-width:320px){
    .banner-text{
        left: 29vw;
    }
}
@media screen and (max-width:300px){
    .banner-text{
        left: 25vw;
    }
    #textLogoHeader{
        font-size: 16px;
    }
}

/* -------------------------- MAIN -------------------------- */
@media screen and (max-width:1300px){
    #btnFormEnviar{
        --bs-btn-padding-x: 22vw;
    }
    #cards .card{
        width: 25vw;
    }
}
@media screen and (max-width:1200px){
    #cards{
        gap: 1rem!important;
    }
}
@media screen and (max-width:1150px){
    #navbarHeaderLinks .nav-link{
        font-size: 14px;
    }
    #cards .card{
        width: 30vw;
    }
}
@media screen and (max-width:1082px){
    #navbarHeaderLinks .nav-link{
        font-size: 13px;
    }
}
@media screen and (max-width:1024px){
    #btnFormEnviar{
        --bs-btn-padding-x: 21.6vw;
    }
}
@media screen and (max-width:991px){
    #cards .card{
        width: 35vw;
    }
    #row-maingrid-col2 p:nth-child(2){
        font-size: 13px;
    }
}
@media screen and (max-width:900px){
    #cards .card{
        width: 38vw;
    }
}
@media screen and (max-width:830px){
    #row-maingrid > .col-6{
        width: 100%;
    }
    #row-maingrid .img-fluid{
        height: 375px;
        width: 100%;
    }
    #row-maingrid-col2{
        height: 300px;
    }
    #row-maingrid-col2 p:nth-child(2){
        margin-top: 50px;
        font-size: 16px;
    }
    #formContactoRowNA,
    #formContactoRowTA{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    #btnFormEnviar{
        width: calc(75% - 2%);
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:768px){
    #cards .card{
        width: 40vw;
    }
    #cards > .card > .card-body > .btn-custom{
        margin-bottom: 0.5rem;
    }
    #cards > .card > .card-body > h5{
        margin-bottom: 0.2rem;
    }
    #cards > .card > .card-body > .card-text{
        overflow-wrap: break-word;
    }
    .modal-content {
        left: 5.5rem;
        width: 75vw!important;
        height: 700px;
    }
}
@media screen and (max-width:700px){
    #cards .card{
        width: 44vw;
    }
    #formContactoRowNA,
    #formContactoRowTA{
        width: 80%;
    }
    #btnFormEnviar{
        width: calc(80% - 2%);
    }
}
@media screen and (max-width:660px){
    #row-maingrid-col2 p:nth-child(2){
        margin-top: 20px;
    }
}
@media screen and (max-width:660px){
    #cards .card{
        width: 50vw;
    }
}
@media screen and (max-width:576px){
    .modal-content {
        left: 8vw;
        width: 85vw!important;
        height: 700px;
    }
}
@media screen and (max-width:560px){
    #cards .card{
        width: 55vw;
    }
}
@media screen and (max-width:500px){
    #cards .card{
        width: 60vw;
    }
    #row-maingrid .img-fluid{
        height: 300px;
    }
    #row-maingrid-col2{
        height: 275px;
    }
    #row-maingrid-col2 p:nth-child(2){
        font-size: 14px;
    }
}
@media screen and (max-width:450px){
    #cards .card{
        width: 70vw;
    }
    #row-maingrid-col2 p:nth-child(1){
        font-size: 20px!important;
    }
    #row-maingrid-col2 p:nth-child(2){
        margin-top: 10px;
        font-size: 13px;
    }
    #formContactoRowNA,
    #formContactoRowTA{
        width: 90%;
    }
    #btnFormEnviar{
        width: calc(90% - 5%);
    }
}
@media screen and (max-width:425px){
    #cards .card{
        width: 80vw;
    }
    .modal{
        --bs-modal-width: 500px;
    }
    .modal-content {
        left: 1vw;
        width: 95vw!important;
        height: max-content;
    }
    #categorias-descuento{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:375px){
    #cards > .card > .card-body{
        font-size: 13px;
    }
    #row-maingrid-col2{
        height: 330px;
    }
    #categorias-descuento .box-categoria{
        width: 50vw;
    }
}
@media screen and (max-width:320px){
    #cards .card{
        width: 90vw;
    }
    #categorias-descuento .box-categoria{
        width: 60vw;
    }
}
@media screen and (max-width:300px){
    #cards .card{
        width: 93vw;
    }
    #row-maingrid-col2{
        height: 350px;
    }
}
/* --------------------------  FOOTER -------------------------- */
@media screen and (max-width:1024px){
    #footer-nav > .nav{
        gap: 1rem !important;
    }   
}
@media screen and (max-width:768px){
    #footer-nav > .nav{
        gap: 0rem !important;
    }
}