#mainCardsTitle{
    margin-bottom: 20px;
    margin-top: 20px;
}
#cards{
    margin-bottom: 35px;
}
.card{
    width: 20vw;
}
.card > .card-img-top{
    height: 325px;
}
.card-body{
    width: auto;
}
.btn-custom{
    --bs-btn-padding-y: 0.15rem;
    --bs-btn-padding-x: 0.40rem;
    --bs-btn-font-size: 0.750rem;
}
.bg-maingrid-text{
    background-color: #353a40;
}
.border-gray{
    border-color: #979899!important;
}
#main-form{
    margin-top: 25px;
    margin-bottom: 35px;
}
#btnFormEnviar{
    width: calc(60% - 2%);
    --bs-btn-padding-y: 0.375rem;
    background-color: #96c93e;
    border-color: #7ca82f!important;
}
#btnFormEnviar:hover{
    background-color: #79aa2b!important;
    border-color: #72992d!important;
}
.modal{
    --bs-modal-width: 750px;
}
.modal-body{
    padding-bottom: 0px;
}
.modal-dialog-scrollable .modal-content {
    width: 75vw!important;
    height: 700px;
}
.box-categoria{
    border: 1px solid black;
    width: 40vw;
    height: auto;
}
.categoria-estudiante{
    border-color: #007bff;
}
.categoria-estudiante:hover{
    background-color: #a9d3ff;
    cursor: pointer;
}
.categoria-trainee{
    border-color: #4bb7c8;
}
.categoria-trainee:hover{
    background-color: #cce5ff;
    cursor: pointer;
}
.categoria-junior{
    border-color: #ffc10a;
}
.categoria-junior:hover{
    background-color: #ffe8a3;
    cursor: pointer;
}
.text-documentacion{
    font-size: 13px;
}
.text-decoration-custom{
    text-decoration:underline dotted;
}
.text-decoration-custom:hover{
    cursor: pointer;
}
.col-name{
    padding-right: 0px;
}
#valor-final{
    background-color: #cce5ff;
    color: #5192e2;
    height: 40px;
    border-radius: 8px;
    padding-left: 1vw;
}
.background-hidden{
    filter:brightness(45%);
}
#row-maingrid .img-fluid{
    height: 475px;
    width: 100%;
}
#formContactoRowNA,
#formContactoRowTA{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#btnScrollTop{
    cursor: pointer;
}
#containerBtnScrollTop{
    background-color: rgb(255, 53, 53);
    position: fixed;
    width: max-content;
    z-index: 99;
    right: 1vw;
    bottom: 8vh;
    border-radius: 20px;
    transition: all 0.5s;
}
#containerBtnScrollTop:hover{
    background-color: rgb(255, 81, 81);
    transform: scale(1.1);
}